* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;

}

.header {
    background: #112D4E;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
}

.header-left,
.header-right {
    color: #fff;
}

.logout a {
    text-decoration: underline;
    color: #DBE2EF;
    margin-right: 100px;
}

.logout .tooltiptext {
    text-size-adjust: 5px;
    visibility: hidden;
    width: 120px;
    /* background-color: black; */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    text-decoration: none;

    /* Position the tooltip */
    position: relative;
    z-index: -1;
}

.logout:hover .tooltiptext {
    visibility: visible;
    margin-left: 8px;
}

.main {
    width: 85%;
    /* Adjusted width */
    margin-top: 70px;
    margin-left: 15%;
    padding: 20px;
}

.sidebar {
    height: calc(100% - 70px);
    position: fixed;
    left: 0;
    top: 70px;
    width: 15%;
    background: #3F72AF;
    overflow-y: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    color: #F9F7F7;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.menu li a {
    color: #F9F7F7;
    display: block;
    text-decoration: none;
    padding: 20px;
}



.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style-type: none;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
    pointer-events: none;
}

.pagination .disabled {
    opacity: 0.5;
    pointer-events: none;
}

.sort {
    margin-bottom: 20px;
}

.sort form {
    display: inline-block;
    margin-right: 10px;
}

.sort label {
    font-weight: bold;
    margin-right: 5px;
}

.sort select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sort input[type="submit"],
.sort button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}

.sort input[type="submit"]:hover,
.sort button:hover {
    background-color: #007bff;
}

.status {
    margin-bottom: 20px;
}

.status form {
    display: flex;
    align-items: center;
}

.status label {
    font-weight: bold;
    margin-right: 10px;
}

.status select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.status input[type="submit"] {
    margin-left: 2px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.status input[type="submit"]:hover {
    background-color: #c82333;
}

.custom-form {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.custom-form input[type="text"],
.custom-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.custom-form select {
    height: 40px;
}

.custom-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-form button:hover {
    background-color: #0060c6;
}

.custom-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.record-custom-form input[type="submit"] {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
}

.record-custom-form input[type="submit"]:hover {

    background-color: #0060c6;
    color: white;
}


.main-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* Align items to the top */
}

/* Product image container */
.image-container {
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    /* Center align images and buttons */
}

/* Product image styles */
.product-image {
    width: 230px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    /* Space between image and buttons */
}

/* Button styles */
.button-container button {
    padding: 5px 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Delete button styles */
.delete-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Update button styles */
.update-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

/* Add images button styles */
.add-images-btn {

    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    /* Add margin at the bottom */
}

.add-images-btn:hover {
    background-color: #007bff;
}

/* Back button styles */
.back-btn {
    border: 0;
    border-radius: 5px;
    background-color: #3F72AF;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 8px 15px;
    display: inline-block;
    outline: none;
}

/* Style for hover state */
.back-btn:hover {
    background-color: #315a8b;
}

.back-btn a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

/* Image upload form styles */
.upload-form {
    margin-top: 20px;
}

.button-group {
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

.preview-image {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.error-message {
    color: #c82333;
    margin-top: 10px;
}

#table-data {
    margin-top: 20px;
    /* Add margin at the top */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
    /* Light gray background for header */
}

/* Style for checkbox in the header */
#select_all {
    transform: scale(1.5);
    /* Increase checkbox size */
}

/* Style for the Update and Delete buttons */
table .update-btn,
table .delete-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    /* Remove underline from buttons */
}

/* Style for the Status button */
table .status-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    /* Remove underline from button */
}

/* Style for active status */
table .status-active {
    color: green;
}

/* Style for inactive status */
table .status-inactive {
    color: #c82333;
}


/* Switch On Off Css */
.input-switch {
    display: none;
}

.label-switch {
    display: inline-block;
    position: relative;
}

.label-switch::before,
.label-switch::after {
    content: "";
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}

.label-switch::before {
    width: 3em;
    height: 1em;
    border: 1px solid #757575;
    border-radius: 4em;
    background: #888888;
}

.label-switch::after {
    position: absolute;
    left: 0;
    top: -20%;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #757575;
    border-radius: 4em;
    background: #ffffff;
}

.input-switch:checked~.label-switch::before {
    background: #757575;
    border-color: #757575;
}

.input-switch:checked~.label-switch::after {
    left: unset;
    right: 0;
    background: #757575;
    border-color: #757575;
}

.info-text {
    display: inline-block;
}

.image-container-display {
    text-align: center;
}

#imageDisplay img {
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
    vertical-align: middle;

}

/* Search */

.search {
    display: inline-block;
    width: auto;
}

.search input[type="text"] {
    width: 200px;
    padding: 6px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search input[type="submit"],
button {
    padding: 5px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search input[type="submit"]:hover {
    background-color: #0056b3;
}

.search button:hover {
    background-color: #0056b3;
}


.search input[type="submit"]:disabled {
    background-color: #ccc;
    /* Grey background color when disabled */
    cursor: not-allowed;
    /* Change cursor to not-allowed when disabled */
}

#searchResults {
    position: absolute;
    background-color: white;
    /* border: 1px solid #ccc; */
    /* padding: 6px 15px; */
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 200px;
    z-index: 999;
    /* Ensure search results appear above other elements */
}

.search-result {
    padding: 10px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
    padding: 6px 15px;
}