* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DBE2EF;

}

.header {
    background: #112D4E;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
}

.header-left,
.header-right {
    color: #fff;
}

.logout a {
    text-decoration: underline;
    color: #DBE2EF;
    margin-right: 100px;
}

.main {
    width: 85%;
    /* Adjusted width */
    margin-top: 70px;
    margin-left: 15%;
    padding: 20px;
}

.sidebar {
    height: calc(100% - 70px);
    position: fixed;
    left: 0;
    top: 70px;
    width: 15%;
    background: #3F72AF;
    overflow-y: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    color: #F9F7F7;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.menu li a {
    color: #F9F7F7;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style-type: none;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
    pointer-events: none;
}

.pagination .disabled {
    opacity: 0.5;
    pointer-events: none;
}

.sort {
    margin-bottom: 20px;
}

.sort form {
    display: inline-block;
    margin-right: 10px;
}

.sort label {
    font-weight: bold;
    margin-right: 5px;
}

.sort select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sort input[type="submit"],
.sort button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger {
    padding: 5px 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: red;
}

.sort input[type="submit"]:hover,
.sort button:hover {
    background-color: #45a049;
}

.status {
    margin-bottom: 20px;
}

.status form {
    display: flex;
    align-items: center;
}

.status label {
    font-weight: bold;
    margin-right: 10px;
}

.status select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.status input[type="submit"] {
    margin-left: 2px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.status input[type="submit"]:hover {
    background-color: #c82333;
}